
<h1>File Upload</h1>

<% if (! params[:jpeg]) %>
	"Invalid file!"
<% else %>
	<%= image_tag(params[:pname], :size => "300x210" )%>

<% end %>


<%= form_tag({action: :uploadPicture}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag "Upload" %>
<% end %>
 
